---
title: "Map"
date: 2025-01-10
css: true
---

<section>
  <iframe width="425" height="550" src="https://www.openstreetmap.org/export/embed.html?bbox=7.852448523044587%2C47.994664549080895%2C7.853054702281953%2C47.995333606299376&amp;layer=cyclemap&amp;marker=47.99499907877457%2C7.852751612663269" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=47.9949991&amp;mlon=7.8527516#map=21/47.9949991/7.8527516&amp;layers=CN">View Larger Map</a></small>
</section>

<section>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1145.6658493887458!2d7.8520600939139245!3d47.994949127729825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47911c9973d3b551%3A0x2a59897493f50c9e!2sHistorical%20Merchants&#39;%20Hall!5e1!3m2!1sen!2sat!4v1756360455496!5m2!1sen!2sat" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

<section>
  <h2>Checklist</h2>

  <ul>
    <li>Interactive elements must be focusable</li>
    <li>The map must be keyboard accessible</li>
    <li>The UI must give feedback to screen reader users</li>
    <li>Interactive elements need accessible names</li>
    <li>Maintain a predictable focus order</li>
    <li>Use clearly visible focus styles</li>
    <li>iframes need an accessible name via <code>[title]</code></li>
    <li>Consider adding a skip link in embedded maps</li>
    <li>Provide an alternative to the map</li>
  </ul>
  
</section>
