---
title: "Load More"
date: 2025-01-08
js: true
css: true
---

<section>
  <div role="region" aria-labelledby="heading" tabindex="-1">
    <ul class="page">
      <li><a href="#">Element 1</a></li>
      <li><a href="#">Element 2</a></li>
      <li><a href="#">Element 3</a></li>
      <li><a href="#">Element 4</a></li>
      <li><a href="#">Element 5</a></li>
      <li><a href="#">Element 6</a></li>
      <li><a href="#">Element 7</a></li>
      <li><a href="#">Element 8</a></li>
      <li><a href="#">Element 9</a></li>
      <li><a href="#">Element 10</a></li>
      <li><a href="#">Element 11</a></li>
      <li><a href="#">Element 12</a></li>
      <li><a href="#">Element 13</a></li>
      <li><a href="#">Element 14</a></li>
      <li><a href="#">Element 15</a></li>
      <li><a href="#">Element 16</a></li>
      <li><a href="#">Element 17</a></li>
      <li><a href="#">Element 18</a></li>
      <li><a href="#">Element 19</a></li>
      <li><a href="#">Element 20</a></li>
    </ul>
  <button type="button">Load more</button>
  </div>
</section>

<section>
  <h2>Checklist</h2>

  <ul>
    <li>Move focus to the first new element</li>
    <li>If you move focus to a link, make sure user no where they are.</li>
    <li>For more see <a href="/patterns/button/">Button</a></li>
  </ul>

</section>
