---
title: "Button"
subtitle: Disabled
date: 2025-01-02
---

<section>
  <form action="#form2" id="form2">
    <p>
      <label for="name2">Username</label>
      <input type="text" id="name2">
    </p>
    <p>
      <label for="password2">Password</label>
      <input type="text" id="password2">
      <button class="show-hide" type="button" aria-pressed="false">show hide</button>
    </p>
    
    <button disabled>Login</button>
  </form>
</section>

<section>
  <h2>Checklist</h2>

  <ul>
    <li>Avoid disabling buttons</li>
    <li>Use clear labels for your input fields.</li>
    <li>Add hints and descriptions when the label alone isn’t clear enough.</li>
    <li>Split complex forms into multiple steps or pages to reduce cognitive load.</li>
    <li>Always enable buttons and validate input on submit.</li>
    <li>Give clear error messages.</li>
    <li>For more see <a href="/patterns/button/">Button</a></li>
  </ul>
  
</section>
