---
title: "Pin input"
date: 2025-01-13
---

<section>
  <fieldset>
    <legend>Pin Code</legend>
    <label for="one" class="visually-hidden">Number 1 of 4</label>
    <input inputmode="numeric" autocomplete="off" size="1" maxlength="1" id="one">
    <label for="two" class="visually-hidden">Number 2 of 4</label>
    <input inputmode="numeric" autocomplete="off" size="1" maxlength="1" id="two">
    <label for="three" class="visually-hidden">Number 3 of 4</label>
    <input inputmode="numeric" autocomplete="off" size="1" maxlength="1" id="three">
    <label for="four" class="visually-hidden">Number 4 of 4</label>
    <input inputmode="numeric" autocomplete="off" size="1" maxlength="1" id="four">
  </fieldset>
</section>

<section>
  <h2>Checklist</h2>

  <ul>
    <li>Provide an unique label for each input</li>
    <li>Use <code>inputmode="numeric"</code></li>
    <li>Set <code>autocomplete="off"</code></li>
    <li>Avoid moving focus automatically. If you have to, test thoroughly with the keyboard only</li>
    <li>Ensure copy and paste works as expected</li>
    <li>Set <code>maxlength="1"</code></li>
  </ul>

</section>
