---
title: "Table"
date: 2025-01-18
---

<section>
  <table>
    <caption>Scores Group A</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Score</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Michael</td>
        <td>27</td>
        <td>Austria</td>
      </tr>
      <tr>
        <td>Robert</td>
        <td>7</td>
        <td>Croatia</td>
      </tr>
      <tr>
        <td>Andreas</td>
        <td>53</td>
        <td>Austria</td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <table>
    <caption>Scores Group A</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Score</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Michael</td>
        <td>27</td>
        <td>Austria</td>
      </tr>
      <tr>
        <th>Robert</td>
        <td>7</td>
        <td>Croatia</td>
      </tr>
      <tr>
        <th>Andreas</td>
        <td>53</td>
        <td>Austria</td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <div role="region" tabindex="0">
    <table>
      <caption>
        Names of newborn children in Vienna 2024
      </caption>
      <tbody>
        <tr>
          <th colspan="4" style="text-align: center">Girls</th>
          <th colspan="4" style="text-align: center">Boys</th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Count</th>
          <th>Percentage of newborn girls</th>
          <th>Rank</th>
          <th>Name</th>
          <th>Count</th>
          <th>Percentage of newborn boys</th>
        </tr>
        <tr>
          <td>1.</td>
          <td>Emilia</td>
          <td>132</td>
          <td>1,5</td>
          <td>1.</td>
          <td>Felix</td>
          <td>109</td>
          <td>1,2</td>
        </tr>
        <tr>
          <td>2.</td>
          <td>Mia</td>
          <td>124</td>
          <td>1,4</td>
          <td>2.</td>
          <td>Noah</td>
          <td>106</td>
          <td>1,1</td>
        </tr>
        <tr>
          <td>3.</td>
          <td>Emma</td>
          <td>108</td>
          <td>1,2</td>
          <td>3.</td>
          <td>Adam</td>
          <td>100</td>
          <td>1,1</td>
        </tr>
        <tr>
          <td>4.</td>
          <td>Sophia</td>
          <td>83</td>
          <td>0,9</td>
          <td>4.</td>
          <td>David</td>
          <td>98</td>
          <td>1,0</td>
        </tr>
        <tr>
          <td>5.</td>
          <td>Sara</td>
          <td>82</td>
          <td>0,9</td>
          <td>5.</td>
          <td>Elias</td>
          <td>95</td>
          <td>1,0</td>
        </tr>
        <tr>
          <td>6.</td>
          <td>Laura</td>
          <td>77</td>
          <td>0,9</td>
          <td>6.</td>
          <td>Leon</td>
          <td>94</td>
          <td>1,0</td>
        </tr>
        <tr>
          <td>7.</td>
          <td>Sophie</td>
          <td>74</td>
          <td>0,8</td>
          <td>6.</td>
          <td>Maximilian</td>
          <td>94</td>
          <td>1,0</td>
        </tr>
        <tr>
          <td>8.</td>
          <td>Elena</td>
          <td>73</td>
          <td>0,8</td>
          <td>8.</td>
          <td>Theodor</td>
          <td>93</td>
          <td>1,0</td>
        </tr>
        <tr>
          <td>9.</td>
          <td>Lara</td>
          <td>72</td>
          <td>0,8</td>
          <td>9.</td>
          <td>Jakob</td>
          <td>81</td>
          <td>0,9</td>
        </tr>
        <tr>
          <td>10.</td>
          <td>Anna</td>
          <td>71</td>
          <td>0,8</td>
          <td>10.</td>
          <td>Mateo</td>
          <td>75</td>
          <td>0,8</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section>
  <h2>Checklist</h2>

  <ul>
    <li>
      If you can answer the following three questions with yes, you probably want to use a &lt;table&gt;
      <ul>
        <li> Is the data multi-dimensional?</li>
        <li>Would it be helpful to make comparing data easier?</li>
        <li>Can I provide a meaningful label for each column?</li>
      </ul>
    </li>
    <li>Use &lt;caption&gt; to label the table</li>
    <li>Scope table headers to rows if necessary</li>
    <li>Avoid empty cells</li>
    <li>Avoid spaning cells</li>
    <li>Avoid complexity</li>
  </ul>

</section>



