---
title: "Table"
subtitle: Sortable
date: 2025-01-21
js: true
css: true
---

<section>
  <table>
    <caption>Scores Group A</caption>
    <thead>
      <tr>
        <th>
          <button class="sort">
            Name
            <svg width="13" viewBox="0 0 126 171">
              <path d="M62.7 3.9 6 70l114-.5z"/>
              <path d="M63 166.5 6 100.6h114z"/>
            </svg>
          </button>
        </th>
        <th>
          <button class="sort">
            Score
            <svg width="13" viewBox="0 0 126 171">
              <path d="M62.7 3.9 6 70l114-.5z"/>
              <path d="M63 166.5 6 100.6h114z"/>
            </svg>
          </button>
        </th>
        <th>
          <button class="sort">
            Country
            <svg width="13" viewBox="0 0 126 171">
              <path d="M62.7 3.9 6 70l114-.5z"/>
              <path d="M63 166.5 6 100.6h114z"/>
            </svg>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Michael</td>
        <td>27</td>
        <td>Austria</td>
      </tr>
      <tr>
        <td>Robert</td>
        <td>7</td>
        <td>Croatia</td>
      </tr>
      <tr>
        <td>Andreas</td>
        <td>53</td>
        <td>Austria</td>
      </tr>
      <tr>
        <td>Dominik</td>
        <td>19</td>
        <td>Croatia</td>
      </tr>
      <tr>
        <td>David</td>
        <td>21</td>
        <td>Austria</td>
      </tr>
      <tr>
        <td>Heinrich</td>
        <td>12</td>
        <td>Austria</td>
      </tr>
      <tr>
        <td>Markus</td>
        <td>14</td>
        <td>Austria</td>
      </tr>
      <tr>
        <td>Paul</td>
        <td>42</td>
        <td>Austria</td>
      </tr>
      <tr>
        <td>Nicolas</td>
        <td>3</td>
        <td>Spain</td>
      </tr>
    </tbody>
  </table>

  <div role="status" class="visually-hidden"></div>
</section>

<section>
  <h2>Checklist</h2>

  <ul>
    <li>Add a button element to the th for sorting</li>
    <li>Put &lt;aria-sort="descending|ascending"&gt; on a th when it's sorted</li>
    <li>Use a live region to announce what happened</li>
  </ul>

</section>
