---
title: "Button"
subtitle: Press
date: 2025-01-03
---

<section>
  <form action="#form1" id="form1">
    <p>
      <label for="name1">Username</label>
      <input type="text" id="name1">
    </p>
    <p>
      <label for="password1">Password</label>
      <input type="text" id="password1">
      <button class="show-hide" aria-pressed="false" type="button">show hide</button>
    </p>
    
    <button>Login</button>
  </form>
</section>

<section>
  <h2>Checklist</h2>

  <h3>All buttons</h3>

  <ul>
    <li>Set <code>type=button</code> on non-submit buttons</li>
    <li>Communicate the button pressed state (<code>aria-pressed</code>)</li>
    <li>For more see <a href="/patterns/button/">Button</a></li>
  </ul>

  <h3>Submit buttons</h3>

  <ul>
    
  </ul>
  
</section>