---
title: "Accordion"
date: 2025-01-05
js: true
css: true
---
<section aria-labelledby="accordion2_heading" id="accordion2">
  <h2 id="accordion2_heading">
    Frequently asked questions
  </h2>

  <h3 id="accordion2_q1">
    Option 1
  </h3>
  <section class="accordion-content" n>
    <p>
      Content 1
    </p>
  </section>
  
  <h3 id="accordion2_q2">
    Option 2
  </h3>
   <div class="accordion-content" >
    <p>
      Content 2
    </p>
  </div>
  
  <h3 id="accordion2_q3">
    Option 3
  </h3>
   <div class="accordion-content">
    <p>
      Content 3
    </p>
  </div>
</section>

<section aria-labelledby="accordion3_heading">
  <h2 id="accordion3_heading">Native Accordion</h2>
  <details name="accordion">
    <summary>Option 1</summary>
    Content 1
  </details>
  <details name="accordion">
    <summary>Option 2</summary>
    Content 2
  </details>
  <details name="accordion">
    <summary>Option 3</summary>
    Content 3
  </details>
</section>

<section>
  <h2>Checklist</h2>

  <ul>
    <li>The clicked element must be interactive (in most cases <code>&lt;button&gt;</code> or <code>&lt;summary&gt;</code>)</li>
    <li>Don't put headings in buttons. Do it the other way around.</li>
    <li>Triggers must communicate the container state</li>
    <li>Group options in a landmark</li>
    <li>Avoid <a href="https://yatil.net/blog/exclusive-accordions">exclusive accordions</a></li>
    <li>Consider adding an option to expand all elements at once</li>
  </ul>

</section>