---
title: "Sections"
layout: base.njk
---

<section>
  <h1>h1 The quick brown fox jumps over the lazy dog</h1>
  <h2>h2 The quick brown fox jumps over the lazy dog</h2>
  <h3>h3 The quick brown fox jumps over the lazy dog</h3>
  <h4>h4 The quick brown fox jumps over the lazy dog</h4>
  <h5>h5 The quick brown fox jumps over the lazy dog</h5>
  <h6>h6 The quick brown fox jumps over the lazy dog</h6>

  <hgroup>
    <h2>Heading</h2>
    <p>followed by a subheadline</p>
  </hgroup>
</section>

<section>
  <p>
    I'm baby retro put a bird on it meggings poke, quinoa jianbing readymade paleo next level blue bottle butcher DIY copper mug organic jean shorts. Hashtag franzen enamel pin retro jean shorts glossier. Raclette vibecession DIY pabst roof party fingerstache. Man bun hell of YOLO schlitz banh mi. Hashtag lumbersexual chambray, roof party whatever you probably haven't heard of them meh offal etsy snackwave next level bruh gatekeep. Beard distillery everyday carry succulents cold-pressed before they sold out godard small batch.
  </p>

  <hr>
</section>

<pre>
  &lt;code&gt;
    &lt;pre&gt;
    &lt;/pre&gt;
  &lt;/code&gt;
</pre>

<blockquote>
  Why would anyone write another no-class CSS framework?
</blockquote>

<ol>
  <li>I'm baby retro put a bird on it meggings poke</li>
  <li>I'm baby retro</li>
  <li>
    I'm baby retro

    <ol>
      <li>I'm baby retro put a bird on it meggings poke</li>
      <li>I'm baby retro</li>
      <li>I'm baby retro</li>
      <li>I'm baby retro</li>
    </ol>
  </li>
  <li>I'm baby retro</li>
</ol>

<ul>
  <li>I'm baby retro put a bird on it meggings poke</li>
  <li>I'm baby retro</li>
  <li>
    I'm baby retro
    <ul>
      <li>I'm baby retro put a bird on it meggings poke</li>
      <li>I'm baby retro</li>
      <li>I'm baby retro</li>
      <li>I'm baby retro</li>
    </ul>  
  </li>
  <li>I'm baby retro</li>
</ul>

<dl>
  <dt>Term</dt>
  <dd>description</dd>
  <dt>Term</dt>
  <dd>description</dd>
  <dt>Term</dt>
  <dd>description</dd>
  <dt>Term</dt>
  <dd>description</dd>
</dl>

<address>
  Gordon Shumay<br>
  Melmac
</address>












<form>
  <div>
    <label for="form_text1">
      Name
    </label>
    <input type="text" id="form_text1">
  </div>

  <div>
    <label for="form_text2">
      E-mail
    </label>
    <input type="email" id="form_text2">
  </div>

  <div>
    <label for="textarea3">
      Comment
    </label>
    <textarea id="textarea3"></textarea>
  </div>

  <div>
    <progress id="progress1" max="10" value="5"><span>50</span>%</progress>
  </div>

  <div>
    <input type="checkbox" id="checkbox1">
    <label for="checkbox1">Checkbox</label>
  </div>

  <div>
    <div>
      <input type="radio" id="radio5" name="radios" checked>
      <label for="radio5">Radio 1</label>
    </div>
    <div>
      <input type="radio" id="radio6" name="radios">
      <label for="radio6">Radio 2</label>
    </div>
  </div>



  <button>Submit</button>
</form>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit reiciendis laborum aperiam repellat eum nam accusamus, ipsam aspernatur facilis culpa asperiores perspiciatis omnis perferendis vero repellendus. Pariatur quas reiciendis recusandae?</p>

<h2>Heading Lorem ipsum dolor sit amet.</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit reiciendis laborum aperiam repellat eum nam accusamus, ipsam aspernatur facilis culpa asperiores perspiciatis omnis perferendis vero repellendus. Pariatur quas reiciendis recusandae?</p>

<ul>
  <li>lorem</li>
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo pariatur ipsa magni quo ratione veniam officiis voluptate necessitatibus ab animi.</li>
</ul>

<h3>Heading Lorem ipsum dolor sit amet.</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit reiciendis laborum aperiam repellat eum nam accusamus, ipsam aspernatur facilis culpa asperiores perspiciatis omnis perferendis vero repellendus. Pariatur quas reiciendis recusandae?</p>

<ol>
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Lorem ipsum dolor sit amet.</li>
</ol>

<h2>Lorem, ipsum.</h2>

<table>
  <tr>
    <th>Q1</th>
    <th>Q2</th>
    <th>Q3</th>
    <th>Q4</th>
  </tr>
  <tr>
    <td>100</td>
    <td>40</td>
    <td>30</td>
    <td>400</td>
  </tr>
  <tr>
    <td>20</td>
    <td>10</td>
    <td>8</td>
    <td>100</td>
  </tr>
</table>

<h2>Lorem ipsum dolor sit.</h2>

<button commandfor="my-modal1" command="show-modal">
  Show modal
</button>

<dialog id="my-modal1" closedby="any">
  <button command="close" commandfor="my-modal1">close</button>

  <h1>My modal</h1>
</dialog>

<section>
      <h1>About me</h1>

      <p>
        Hi, my name is Manuel Matuzović! I’m a frontend developer, consultant, accessibility auditor, writer, and speaker from Vienna, currently living in Graz. I’m a fan of web standards and a staunch believer in progressive enhancement, and I'm specialized in web accessibility and large-scale CSS. 
      </p>

      <p class="highlight">
        Currently, I'm for hire and open to new opportunities. You can contact me <a href="mailto:manuel@matuzo.at">via e-mail</a> (manuel@matuzo.at).
      </p>

      <p>
        On this page, you’ll find everything you need to know about me and my work.
      </p>
      <p>
        <img src="https://matuzo.at/media/pages/about-me/2c6ef4f783-1743671225/manuel-matuzovic.jpeg" alt="Selfie from above. On the floor next to me HELL written in large letters.">
      </p>
    </section>

    <section>
  <h2>Work</h2>
    <p>
        I’ve started my web development career in 2008 by working as a full-stack web developer in an ad agency. After two years, I became a freelancer and transitioned slowly from full-stack to specializing in web accessibility and CSS. This allowed me to not just take development jobs, but also audit websites and consult companies and institutions. I spent the past ~4 years working as a senior frontend developer for <a href="https://www.wienholding.at/Unternehmen/WH-Digital">WHD</a> and the City of Vienna. <br>Starting 2023, I'm going back to being a full-time freelancer again.
      </p>
    <h3>What I can offer</h3>
    <ul>
        <li>Consulting (web accessibility and CSS layout/architecture)</li>
        <li>WCAG accessibility audits</li>
        <li><a href="#workshops">In-house or online workshops</a></li>
        <li>Frontend-end development (HTML, CSS, vanilla JS, web components)</li>
        <li>Authoring of accessibility statements</li>
</ul>


<h3>Technologies and tools</h3>
<p>Here's a list of keywords that describe the areas, technologies, and tools I'm experienced with best:</p>
<ul class="taglist">
    <li>accessibility (a11y)</li>
    <li>WCAG 2.1</li>
    <li>HTML</li>
    <li>CSS layout (CSS Grid, etc.)</li>
    <li>CSS architecture (solutions for large-scale sites and systems)</li>
    <li>vanilla JavaScript</li>
    <li>web components</li>
    <li>lit</li>
    <li>performance</li>
    <li>Craft CMS</li>
    <li>Sass</li>
    <li>eleventy (11ty)</li>
    <li>WordPress</li>
    <li>twig, nunjucks</li>
</ul>
<h3>What I expect</h3>
<ul>
    <li>A strong focus on quality and accessibility</li>
    <li>An inclusive and friendly work environment</li>
    <li>In terms of the type of work, I'm open to everything: development, audits, workshops, consulting, dev rel, writing, etc.
    </li><li>Technology: Although I'm not specialized in JS frameworks, I have experience with Angular, Vue, and React. I'm open to working with these and other frameworks, too.</li>
</ul>
<h3>A selection of my past and current clients</h3>

</section>
<section>
<h2 id="workshops">Workshops and teaching</h2>
<p>I have a passion for teaching about the things I enjoy in web development. I offer workshops for companies and teaching for universities and colleges in German and English.</p> 
<h3>Workshops</h3>
<p>If you're interested in in-house or online teaching, I can prepare a single or multi-day workshop tailor-made for you. I'm open to topics and formats, but here are some ideas based on previous workshops I did with other clients.</p>
<ul>
    <li>How to build accessibile frontend components</li>
    <li>Improving the accessibility of your product hands-on</li>
    <li>Accessibility testing</li>
    <li>Improving CSS architecture</li>
    <li>Advanced CSS layout</li>
    <li>HTML basics for editors/backend developers/beginners</li>
    <li>Modern CSS techniques</li>
    <li>The accessibility of single page applications (SPA)</li>
    <li>...</li>
</ul>
<h3>Teaching</h3>
<p>I've been teaching on and off since 2010. My topics are HTML, CSS, web accessibility, and web development in general. Travelling within Austria is no issue and outside of Austria it depends on the frequency.</p>
<h3>I've taught at the following institutions</h3>

<p>(This list includes regular engagements as well as guest lectures.)</p>
</section>