---
title: "Grouping content"
layout: base.njk
eleventyComputed:
  intro: "<p>This page is built using the following elements: {{ elements | safe }}, and others. </p>"
elements: <code>ol</code>, <code>ul</code>, <code>li</code>, <code>figure</code>, <code>figcaption</code>, <code>blockquote</code>, <code>dl</code>, <code>dt</code>, <code>dd</code>, <code>pre</code>, <code>hr</code>
tags:
  - demo
---

<section>
  <h2>My top 5 80s movies</h2>

  <p>
    Movies produced in the 1980s were special for their bold blend of groundbreaking special effects and iconic storytelling that defined entire genres—from blockbuster action to heartfelt coming-of-age tales. This decade also saw a surge in innovative filmmaking techniques and memorable, larger-than-life characters that continue to influence pop culture today.
  </p>

  <figure>
    <img src="/media/image.webp">
    <figcaption>My collection of VHS casettes</figcaption>
  </figure>

  <p>
    Movies produced in the 1980s were special for their bold blend of groundbreaking special effects and iconic storytelling that defined entire genres—from blockbuster action to heartfelt coming-of-age tales. This decade also saw a surge in innovative filmmaking techniques and memorable, larger-than-life characters that continue to influence pop culture today.
  </p>

  <blockquote>
    Don't mess with the bull, young man, you'll get the horns.
  </blockquote>

  <p>
    Movies produced in the 1980s were special for their bold blend of groundbreaking special effects and iconic storytelling that defined entire genres—from blockbuster action to heartfelt coming-of-age tales. This decade also saw a surge in innovative filmmaking techniques and memorable, larger-than-life characters that continue to influence pop culture today.
  </p>

  <p>Here are my top 5:</p>

  <ol>
    <li>The breakfast club</li>
    <li>The Goonies</li>
    <li>The Empire Strikes Back</li>
    <li>Ghostbusters</li>
    <li>Indiana Jones and the Temple of Doom</li>
  </ol>
</section>

<section>
  <h2>My movie bucket list</h2>

  <ul>
    <li>
      Horror

      <ul>
        <li>The Shinning</li>
        <li>The Omen</li>
        <li>Hereditary</li>
        <li>Get Out</li>
        <li>Saw 1</li>
      </ul>
    </li>
    <li>
      Comedy

      <ul>
        <li>Groundhog Day</li>
        <li>Superbad</li>
        <li>Monty Python and the Holy Grail </li>
        <li>Airplane</li>
        <li>American Pie</li>
      </ul>
    </li>
  </ul>
</section>

<section>
  <h2>Let's get nerdy</h2>

  <p>I really like movies about hacking and coding.</p>

  <hr>

  <pre>&lt;div class="button"&gt;
  Hack the planet!
&lt;/div&gt;</pre>
</section>