---
title: "Flyout"
date: 2025-01-31
css: true
js: true
---

<section>
  <nav>
    <button aria-expanded="false" class="open">cart</button>
    <div class="fly-out">
      <h2>Shopping cart</h2>
      <button class="close">close</button>
    </div>
  </nav>
</section>

<section>
  <h2>Checklist</h2>

  <ul>
    <li>Move focus from the button to the fly-out and back again</li>
    <li>Hide the flyout properly (<code>display: none</code> or <code>visibility: hidden</code>)</li>
  </ul>

</section>
