---
title: Card
date: 2025-01-09
css: true
---

<section>
  <div class="card">
    <div class="card-inner">
      <div class="card-content">
        <h3 class="card-heading">
          <a href="#">
            High Fidelity
          </a>
        </h3>

        <div class="card-text">
          <p>
            High Fidelity is a 2000 romantic comedy-drama film directed by Stephen Frears, starring John Cusack, Jack Black, and Iben Hjejle. 
          </p>
        </div>
      </div>

      <img src="/media/record.jpg" alt="" class="card-media" >
    </div>
  </div>
</section>

<section>
  <h2>Checklist</h2>

  <ul>
    <li>The heading should be the first element in the card DOM node</li>
    <li>Describe the image only if it contributes necessary information the heading and teaser text don't deliver</li>
    <li>Each element wrapped in &lt;a&gt; contributes to the computation of the link name. Avoid wrapping all elements</li>
    <li>There is no perfect solution for block links. Pick one based on the requirements.</li>
    <li>Keep the number of tab stops low</li>
    <li>Avoid generic link names like “Read more”.</li>
  </ul>

</section>
