---
title: "About"
layout: base.njk
---



<div class="phi-card" style="--phi-card-size: m; --phi-card-axis:x; --phi-card-color-scheme: dark">
  <div class="phi-card-inner">
    <div class="phi-card-content">
      <h3 class="phi-card-heading">High Fidelity</h3>

      <p>
        High Fidelity is a 2000 romantic comedy-drama film directed by Stephen Frears, starring John Cusack, Jack Black, and Iben Hjejle. 
      </p>
    </div>

    <img src="/media/record.jpg" alt="" class="phi-card-media" >
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{# 
  

  <div class="phi-card" style="--phi-card-axis: x">
    <div class="phi-card-inner">
      <div class="phi-card-content">
        <h3>Demo</h3>

        <p>
          Content
        </p>
      </div>

      <img src="https://assets.codepen.io/144736/pexels-digital-buggu-365069.jpg" alt="" class="phi-card-media" >
    </div>
  </div>
  
  <div class="phi-card" style="--phi-card-size: l; --phi-card-axis: x; --phi-card-color-scheme: dark">
    <div class="phi-card-inner">
      <div class="phi-card-content">
        <h3>Demo</h3>

        <p>
          Content
        </p>
      </div>

      <img src="https://assets.codepen.io/144736/pexels-digital-buggu-365069.jpg" alt="" class="phi-card-media" >
    </div>
  </div>
  
  <div class="phi-card" style="--phi-card-size: s; --phi-card-axis: x">
    <div class="phi-card-inner">
      <div class="phi-card-content">
        <h3>Demo</h3>

        <p>
          Content
        </p>
      </div>

      <img src="https://assets.codepen.io/144736/pexels-digital-buggu-365069.jpg" alt="" class="phi-card-media" >
    </div>
  </div> #}

{# Background image: Photo by <a href="https://unsplash.com/@arvissd?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Arvydas Baltinas</a> on <a href="https://unsplash.com/photos/a-close-up-of-a-plant-with-green-leaves-DP24UaGYzx0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> #}
      