---
title: "oli.css"
layout: base.njk
subtitle: a modern no-class framework [early alpha]
---
<section>

  <p>oli.css is an accessible no-class CSS framework built with modern CSS. It allows you to create beautiful websites without writing any CSS.</p>

  <h2>Examples</h2>
  <div>
    <a href="/demos/all">
      <img src="/media/theme-default-thumb.avif" width="272" alt="">
    </a>
    <a href="/demos/all-mono">
      <img src="/media/theme-mono-thumb.avif" width="272" alt="">
    </a>
    <a href="/demos/all-matuzo">
      <img src="/media/theme-matuzo-thumb.avif" width="272" alt="">
    </a>
  </div>

  <p>
    Check out more <a href="/demos">demos</a>.
  </p>
</section>

<section>

  <h2>Features</h2>

  <ul>
    <li>
      <strong>no classes or data- attributes</strong>
      <p>100% HTML only</p>
    </li>
    {# <li>
      <strong>WCAG 2.2 AA compliant</strong>
      <p>
        Tested with automatic testing tools, keyboard, Voice Over on macOS, TalkBack, and NVDA.
      </p>
    </li> #}
    <li>
      <strong>highly configurably CSS-API</strong>

{% highlight "css" %}
:root {
  --oli-s-magic: true; /** Make opinionated design decisions based on the markup */
  --oli-s-layout: horizontal; /** Page layout */
  --oli-s-scroll-behavior: smooth; /** Always auto if prefers-reduced-motion is active  */
  --oli-s-font-stack: transitional; /** Based on modernfontstacks.com */
  --oli-s-page-max-width: 80rem; /** Maximum width of the page */
  --oli-s-page-width: 100%; /** Page width */
  --oli-s-page-start-column-width: 16rem; /** Width of the start column */
  …
}
{% endhighlight %}  
    {# <li><strong>xx KB minified and gzipped</strong></li> #}
    <li><strong>uses modern CSS</strong> and cuts the mustard at Cascade Layers</li>
  </ul>


</section>

<section>
  <h2>Getting started</h2>

  <p>To use oli.css you have three options.</p>

  <h3>Download</h3>
  <p><a href="https://github.com/matuzo/oli/archive/refs/tags/v0.1.0.zip">Download the .zip file</a> and embed it in your pages.</p>

{% highlight "html" %}
<link rel="stylesheet" href="oli/index.css">
{% endhighlight %}

or import it in one of your layers.

{% highlight "css" %}
@import url('third-party/oli/index.css') layer(third-party);
{% endhighlight %}

{# <h3>CDN</h3>
<p>Use a CDN and embed it in your pages.</p>

{% highlight "html" %}
<link rel="stylesheet" href="https://bla.oli/index.css">
{% endhighlight %}

<h3>NPM</h3>
<p>Install it via npm</p>
{% highlight "bash" %}
npm install
{% endhighlight %} #}


{# 

{% highlight "css" %}
button {
  position: absolute;
}

button.a {
  z-index: calc(infinity);
  background: green;
}

button.b {
  z-index: 2147483646;
  background: blue;
}
{% endhighlight %}

{% highlight "js" %}
closeButton.addEventListener('click', e => {
   dialog.requestClose();
})
dialog.oncancel = (e) => {
 if (e.cancelable) {
   if (!confirm("Are you sure you want to close this?")) {
     e.preventDefault();
   }
 }
}
{% endhighlight %} #}


{# 
  

  <div class="phi-card" style="--phi-card-axis: x">
    <div class="phi-card-inner">
      <div class="phi-card-content">
        <h3>Demo</h3>

        <p>
          Content
        </p>
      </div>

      <img src="https://assets.codepen.io/144736/pexels-digital-buggu-365069.jpg" alt="" class="phi-card-media" >
    </div>
  </div>
  
  <div class="phi-card" style="--phi-card-size: l; --phi-card-axis: x; --phi-card-color-scheme: dark">
    <div class="phi-card-inner">
      <div class="phi-card-content">
        <h3>Demo</h3>

        <p>
          Content
        </p>
      </div>

      <img src="https://assets.codepen.io/144736/pexels-digital-buggu-365069.jpg" alt="" class="phi-card-media" >
    </div>
  </div>
  
  <div class="phi-card" style="--phi-card-size: s; --phi-card-axis: x">
    <div class="phi-card-inner">
      <div class="phi-card-content">
        <h3>Demo</h3>

        <p>
          Content
        </p>
      </div>

      <img src="https://assets.codepen.io/144736/pexels-digital-buggu-365069.jpg" alt="" class="phi-card-media" >
    </div>
  </div> #}
</section>
