---
title: "Table"
subtitle: Interactive
date: 2025-01-20
css: true
---

<section>
  <table>
    <caption>Scores Group A</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Score</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#">Michael</a></td>
        <td>27</td>
        <td>Austria</td>
      </tr>
      <tr>
        <td><a href="#">Robert</a></td>
        <td>7</td>
        <td>Croatia</td>
      </tr>
      <tr>
        <td><a href="#">Andreas</a></td>
        <td>53</td>
        <td>Austria</td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h2>Checklist</h2>

  <ul>
    <li>Don't put click event on tr</li>
    <li>Use a link or button and use CSS (or JS) to make entire rows clickable</li>
  </ul>

</section>
