---
title: "Radio group"
date: 2025-01-08
---

<section>
  <fieldset>
    <legend>Shipping</legend>

    <div>
      <input type="radio" name="shipping" id="shipping_eu" value="eu">
      <label for="shipping_eu">Europe</label>
    </div>

    <div>
      <input type="radio" name="shipping" id="shipping_world" value="worldwide">
      <label for="shipping_world">Worldwide</label>
    </div>

    <div>
      <input type="radio" name="shipping" id="shipping_us" value="us">
      <label for="shipping_us">USA</label>
    </div>
  </fieldset>
</section>

<section>
  <h2>Checklist</h2>

  <ul>
    <li>Group fields using &lt;fieldset&gt; and &lt;legend&gt;</li>
    <li>Keep the legend concise because Screen Readers may announce it with every option</li>
    <li>Radio buttons should look like radio buttons</li>
  </ul>

</section>