---
title: "Navigation"
date: 2025-01-24
css: true
---

<section>
  <nav>
    <ul class="level1">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#" id="link2">Product</a>
        <button aria-labelledby="link2" aria-expanded="false">▼</button>
        <ul class="level2">
          <li>
            <a href="#">All Products</a>
          </li>
          <li>
            <a href="#">Laptops</a>
          </li>
          <li>
            <a href="#">Smartphones</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Home</a>
      </li>
    </ul>
  </nav>  
</section>

<section>
  <h2>Checklist</h2>

  <ul>
    <li>Don't mix actions. A button runs JS. A link brings you to a new page</li>
    <li>Communicate if the submenu is open</li>
    <li>Don't open submenus automatically on focus</li>
    <li>Don't use menu roles and attributes</li>
    <li>Use the &lt;nav&gt; element and label it</li>
    <li>Communicate the submenu's expanded state (<code>aria-expanded</code>)</li>
  </ul>

</section>
