---
title: "Button"
subtitle: Login form
date: 2025-01-01
---

<section>
  <form action="#form1" id="form1">
    <p>
      <label for="name1">Username</label>
      <input type="text" id="name1">
    </p>
    <p>
      <label for="password1">Password</label>
      <input type="text" id="password1">
      <button class="show-hide" aria-pressed="false" type="button">show hide</button>
    </p>
    
    <button>Login</button>
  </form>
</section>

<section>
  <h2>Checklist</h2>

  <ul>
    <li>The clicked element must be interactive (in most cases <code>role=button</code>)</li>
    <li>It must be focusable</li>
    <li>Set <code>type=button</code> on non-submit buttons</li>
    <li>Text against background minimum contrast ratio: 4.5:1 for normal text</li>
    <li>Text against background minimum contrast ratio: 3:1 for bold text</li>
    <li>Button background against container background minimum contrast ratio: 3:1</li>
    <li>Avoid fixed inline-sizes</li>
    <li>The button text must match the accessible name</li>
  </ul>

</section>
