---
title: "Disclosure Widget"
date: 2025-01-04
---
<section>
  <button aria-expanded="false" class="disclosure">Content Warning</button>
  <div style="display: none">
    All divs are beautiful!
  </div>
</section>

<section>
  <details name="accordion">
    <summary>Content Warning</summary>
    All divs are beautiful!
  </details>
</section>

<section>
  <h2>Checklist</h2>

  <ul>
    <li>Trigger must be an interactive element (button or summary)</li>
    <li>Communicate the container's expanded state (<code>aria-expanded</code>)</li>
    <li>The button has only one job: Open or close the element</li>
    <li>Don't open on focus, only on click and Enter</li>
    <li>Consider find-in-page when you pick a solution</li>
    <li>For more see <a href="/patterns/button/">Button</a></li>
  </ul>
  
</section>
