---
title: "Pagination"
date: 2025-01-07
js: true
css: true
---
<section>
  <h2 id="heading">Results</h2>
  <div role="region" aria-labelledby="heading" tabindex="-1">
    <ul class="page page1">
      <li><a href="#">Element 1</a></li>
      <li><a href="#">Element 2</a></li>
      <li><a href="#">Element 3</a></li>
      <li><a href="#">Element 4</a></li>
      <li><a href="#">Element 5</a></li>
      <li><a href="#">Element 6</a></li>
      <li><a href="#">Element 7</a></li>
      <li><a href="#">Element 8</a></li>
      <li><a href="#">Element 9</a></li>
      <li><a href="#">Element 10</a></li>
      <li><a href="#">Element 11</a></li>
      <li><a href="#">Element 12</a></li>
      <li><a href="#">Element 13</a></li>
      <li><a href="#">Element 14</a></li>
      <li><a href="#">Element 15</a></li>
      <li><a href="#">Element 16</a></li>
      <li><a href="#">Element 17</a></li>
      <li><a href="#">Element 18</a></li>
      <li><a href="#">Element 19</a></li>
      <li><a href="#">Element 20</a></li>
    </ul>
  </div>

  
  <nav aria-labelledby="pagination" class="pagination">
    <h2 id="pagination" class="visually-hidden">Pagination</h2>
    <ul>
      <li><a href="#1">First</a></li>
      <li><a href="#1" aria-current="page">1</a></li>
      <li><a href="#2" aria-current="page">2</a></li>
      <li><a href="#3" aria-current="page">3</a></li>
      <li><a href="#4" aria-current="page">4</a></li>
      <li><a href="#4">Last</a></li>
    </ul>
  </nav>
</section>



<section>
  <h2>Checklist</h2>

  <ul>
    <li>Wrap items in a <code>&lt;nav&gt;</code> and name it</li>
    <li>Keep it simple – A list of links works well</li>
    <li>Highlight the active page with <code>aria-current="page"</code></li>
    <li>Clientside rendering: move focus to the list of results</li>
  </ul>

</section>
